<h3>Create an Account</h3>
<form
  class="ui form"
  [formGroup]="authForm" >
  <div class="field">
    <label>Username</label>
    <input formControlName="username">
    {{authForm.get('username').errors | json}}
  </div>
  <div class="field">
    <label>Password</label>
    <input formControlName="password">
    {{authForm.get('password').errors | json}}
  </div>
  <div class="field">
    <label>Password Confirmation</label>
    <input formControlName="passwordConfirmation">
    {{authForm.get('passwordConfirmation').errors | json}}
  </div>


  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
